a.new_address{font-size: 18px; text-decoration: underline;}

.tbl_settings{margin-left: -23px;}
.tbl_settings tr{display: block; margin-top: 15px; margin-bottom: 25px; font-size: 15px;}
.tbl_settings td{}
.tbl_settings td.title{width: 120px; padding-top: 7px; padding-right: 15px; font-size: 20px; font-weight: bold; color: #898989; text-align: right; vertical-align: top;}
.tbl_settings td.content{}
.tbl_settings input, select{height: 40px;}
.tbl_settings input, select, textarea{border-radius: 5px;}
.tbl_settings input[type="text"]{border: solid 1px #A9A9A9;}
.tbl_settings input[type="text"]{width: 200px;}
.tbl_settings select{width: 120px;}

.setting_line{padding-left: 100px; font-size: 18px;}
.setting_line input[type="checkbox"]{}
.setting_line .div_btn{margin-top: 15px; width: 150px; height: 40px; line-height: 40px; background-color: #556589;}

.addresslist{margin-top: 50px;}
.tbl_address{margin-left: -45px; text-align: center}
.tbl_address tr{}
.tbl_address tr.tbl_head{font-size: 20px; font-weight: bold; background-color: #556589;}
.tbl_address tr.addressline{height: 40px; line-height: 40px; font-size: 15px; font-weight: bold; background-color: #F5F5F5;}
.tbl_address td{min-width: 150px; color: #475A82;}
.tbl_address .tbl_head td{color: white;}
.tbl_address .addressline td{}