.top_part{width: 100%; height: 400px;}
.bottom_part{margin-top: 20px; width: 100%;}

.pictures{float: left; margin-left: 0px; width: 400px; height: 100%;}
.details{float: left; margin-left: 0px; width: 800px; height: 100%;}

.pictures img{margin-left: 80px; margin-top: 30px; width: 300px; height: 300px;}

.details .book_title{font-size: 30px; font-weight: bold; line-height: 30px;}
.book_introduction{margin-top: 8px; font-size: 15px;}
.publish_info{margin-top: 8px;}
.publish_info span{margin-right: 20px;}
.sales_comments{margin-top: 10px; width: 300px; height: 50px; line-height: 50px; text-align: left; border: solid 1px #CEDAF0;}
.sales_comments span{display: block; float: left; margin-right: 50px; font-size: 18px; font-weight: bold;}
.sales_comments font{margin-left: 10px; color: red;}
div.price{margin-top: 10px; background-color: #CEDAF0;}
.price img{width: 120px; height: 30px;}
font.price{font-size: 35px; font-weight: bold; color: red;}
font.ranking{margin-left: 20px; font-size: 18px;}
.quantity{margin-top: 10px; height: 50px;}
.quantity dl{clear: left;}
.quantity dt{float: left; text-align: center; line-height: 40px;}
.quantity dd{float: left; margin-left: 50px;}
.span_quantity{display: block; height: 50px;}
.span_quantity .input_quantity{float: left; width:50px; height: 40px; line-height: 40px; font-size: 15p; border: solid 1px gray;}
.span_quantity .unit{display: block; float: left; margin-left: 10px; height: 40px; line-height: 40px;}
.span_quantity .add_minus{display: block; float: left; margin-left: 5px; width: 20px; height: 30px;}
.add_minus span{display: block; margin-bottom: 4px; width: 20px; height: 18px; line-height: 15px; text-align: center; border: solid 1px gray; cursor: pointer;}
div.btn_addToCart{margin-top: 10px; width: 150px; height: 40px; line-height: 40px; text-align: center; font-size: 18px; font-weight: bold; color: white; background-color: #718DBF; cursor: pointer;}
.btn_addToCart img{width: 30px; height: 30px; vertical-align: middle;}

.book_recommend{float: left; margin-left: 100px; width: 250px;}
.book_recommend .title{height: 20px; font-size: 20px; line-height: 20px; color: gray;}
.book_recommend .book{width: 250px; height: 250px; border-bottom: #EBECF0 5px dotted; border-left: #EBECF0 5px solid; border-right: #EBECF0 5px solid;}
.book img{margin-left: 35px; margin-top: 5px; width: 180px; height: 180px;}
.book p{text-align: center;}
.book font{color: red;}

.more_details{float: left; margin-left: 50px; width: 800px;}

.book_details{width: 100%;}
.book_comments{width: 100%; display: none;}
.book_comments .single_comment{width: 100%; height: 130px; border-bottom: solid 1px gray;}
.book_comments .single_comment .left{float: left; width: 100px; height: 100%;}
.book_comments .single_comment .left img{width: 100px; height: 100px;}
.book_comments .single_comment .left p{width: 100px; text-align: center;}
.book_comments .single_comment .right{float: left; width: 650px; height: 130px;}
.book_comments .single_comment .right1{height: 70px;}
.book_comments .single_comment .right2{height: 30px; line-height: 30px; text-align: right;}
.right1 p{margin-left: 30px; margin-top: 30px; width: 780px; height: 70px;}

.comments_score{margin-top: 10px; width: 100%; height: 100px; text-align: center; border: solid 1px gray;}
.score{float: left; margin-top: 5px; width: 200px; height: 90px; border-right: solid 1px gray;}
.match{float: left; margin-top: 5px; width: 300px; height: 90px;}
.comments_score p{font-size: 20px; line-height: 30px;}
.comments_score font{color: red;}


.score img{}
.match img{width: 100px; height: 30px;}


img.img_flyer{width: 50px; height: 50px;}