.cartItems{width: 100%;}
.footer{position: fixed; left: 0px; bottom: 0px; width: 100%; height: 60px;}
div.empty{height: 60px;}

.cartItems .top{margin: 0 auto; width: 1100px; background-color: #556589;}
.cartItems .top .tbl_cart tr{color: white;}
.cartItems .bottom{margin: 0 auto; margin-top: 10px; width: 1100px; background-color: #F5F5F5;}
.tbl_cart{margin: 0 auto; text-align: center;}
.tbl_cart tr{display: block; color: #475A82;}
.tbl_cart tr.cartline{border-bottom: solid 1px #E7E7E7;}
.tbl_cart td{width: 140px; height: 80px; font-size: 18px; line-height: 50px;}
.tbl_cart .tbl_head td{height: 50px; line-height: 50px;}
.tbl_cart .tbl_head .select{text-align: left; padding-left: 50px;}
.tbl_cart td.select{width: 200px;}
.tbl_cart td.bookinfo{width: 300px;}
.tbl_cart .div_btn{background-color: #53658B;}

.tbl_cart img{width: 160px; height: 160px; border: solid 10px #F5F5F5;}

.footer{font-size: 20px; font-weight: bold; color: white;}
.footer .left{float: left; margin-left: 100px; padding-left: 98px; width: 1020px; height: 60px; line-height: 60px; background-color: #556589;}
.footer .left .chooseAll{float: left;}
.footer .left .sum{float: right; padding-right: 30px; font-size: 25px;}
.footer .right{float: left; height: 60px; line-height: 60px;}
.footer span.space{margin-left: 10px;}
.footer span.big_font{font-size: 35px;}
.footer input[type="checkbox"]{width: 15px; height: 15px;}
.footer .div_btn{width: 150px; height: 60px; line-height: 50px; background-color: #556589; border: solid 5px #DEE5F5;}