color_bg: #ECF2FE;
color_text: #475A82;
color_btn: #718D8F;
color_btn_clicked: #718D8F;
color_btn_text: white;
color_img_border: #ECF2FE;


color_div_btn: #53658B;

color_new_text: #556589;
color_new_tbl_head: #556589;
color_new_tbl_body: #F5F5F5;
color_new_tbl_border: #E7E7E7;

color_text_gray: #898989;
color_input_border: #A9A9A9;