.logoline{width: 100%; height: 100px;}
.logo{position: absolute; margin-left: 0px; width: 300px; height: 100px;}
.logo span{float: right; margin-right: 40px; height: 80px; line-height: 100px; font-size: 50px; font-weight: bold; font-family:幼圆}
.logo a{color: #6F7F98;}
.search{position: absolute; margin-left: 300px; margin-top: 25px; width: 700px; height: 50px;}
.cart a{position:absolute; margin-left: 1050px; margin-top: 25px; width: 130px; height: 50px; line-height: 50px; text-align: center; font-size: 20px; font-family: 微软雅黑;}
.cart a:hover{color:#718dbf; text-decoration: none;}
.orders a{position:absolute; margin-left: 1180px; margin-top: 25px; width: 130px; height: 50px; line-height: 50px; text-align: center; font-size: 20px; font-family: 微软雅黑;}
.orders a:hover{color:#718dbf; text-decoration:none;}
.searchform{align: center;}
.search-text{position: absolute; padding-left:10px;margin-top: 0px; margin-left: 30px; width: 540px; height: 50px; font-size: 18px; line-height: 50px; border: solid 2px #556589;}
.search-btn{position: absolute; margin-top: 0px; margin-left: 570px; width: 120px; height: 50px; line-height:50px; border: 0 solid #000000; background-color: #556589; font-size: 22px; color: white;font-family: 微软雅黑;}

.lt_icon{height: 25px; width: 25px;}
.logoimg{margin-left:100px;margin-top:28px;height:50px;width: 50px;}