input[type="checkbox"]{width: 15px; height: 15px;}

.order{margin-top: 10px; margin-bottom: 30px;}
.order_title{height: 50px; line-height: 50px; background-color: #ECF2FE; cursor: pointer;}
.order_title input[type="checkbox"]{margin-left: 29px; width: 15px; height: 15px;}
.order_title span{padding-right: 30px; font-size: 20px; color: #475A82; font-weight: bold;}
.order_title a.show_details{float: right; margin-right: 40px; font-size: 18px; text-decoration: underline;}
.order_details{margin-top: 5px; wdith: 100%;}

.tbl_orders{margin: 0 auto; height: 100%; border: 1; text-align: center; font-size: 18px; color: #475A82;}
.tbl_orders tr{display: block; margin-top: 5px;}
.tbl_orders tr.orderline{height: 100px; background-color: #ECF2FE;}
.tbl_orders td{width: 120px;}
.tbl_orders img{width: 100px; height: 100px; border: solid 5px #ECF2FE;}
.tbl_orders a{text-decoration: underline;}