h2{margin-left: 100px; color: #475A82;}

.choose_address{margin: 0 auto; width: 1200px;}
.orderInfo{margin: 0 auto; width: 1200px;}
.sum_submit{float: right; margin-right: 300px; margin-top: 20px; height: 100px; width: 150px;}

.address_list{margin: 0 auto; width: 1000px;}
.addressItem{float: left; margin-left: 100px; margin-top: 30px;  width: 200px; height: 150px; text-align: center; background-color: #ECF2FE; border: dotted 3px white; cursor: pointer;}
.addressItem p{padding-left: 20px; padding-right: 20px; font-size: 18px; color: #475A82;}
.address_settings{margin: 0 auto; width: 800px; height: 30px; line-height: 30px;}
.address_settings a{float: right; font-size: 20px; font-weight: bold; color: #475A82;}
.address_list .selected{border: dotted 3px gray;}

.order_list{margin: 0 auto; width: 1000px;}
.tbl_orderItems{margin: 0 auto; border: 1px; text-align: center;}
.tbl_orderItems tr{display: block; margin-top: 5px; color: #475A82;}
.tbl_orderItems tr.head{font-size: 20px; font-weight: bold;}
.tbl_orderItems tr.orderline{font-size: 15px;}
.tbl_orderItems td{width: 100px; min-width: 150px; height: 50px; line-height: 50px; background-color: #ECF2FE;}

.sum_submit{background-color: #ECF2FE;}
.sum_submit .sum{height: 50px; line-height: 50px; text-align: center;}
.sum_submit .submit{height: 50px; text-align: center;}
.sum span{font-size: 20px; font-weight: bold; color: #475A82;}

div.div_btn{margin-left: 25px; width: 100px; height: 40px; font-size: 20px; color: white; line-height: 40px; text-align: center; background-color: #718D8F; cursor: pointer;}
div.div_btn_clicked{background-color: #718D8F;}