.pc_leftnav{float: left; margin-left: 100px; width: 180px; height: 450px;}
.pc_right_part{float: left; margin-left: 45px;}

.pc_leftnav ul{list-style: none; padding-left: 0px;}
.pc_leftnav li{height: 50px; line-height: 50px; text-align: center; cursor: pointer;margin-bottom: 10px;}
.pc_leftnav li a{font-size: 18px;  color:  #556589;}

li.mouseon{border-radius: 10px; background-color: #556589;}
li.selected{border-radius: 10px; background-color: #556589;}
li:hover{background-color: #9fb4db}
a:hover{color: white}
a.mouseon {color: white !important;}
a.selected {color: white !important;}

div.div_btn{width: 150px; height: 40px; font-size: 20px; color: white; line-height: 40px; text-align: center; background-color: #718D8F; cursor: pointer;}
div.div_btn_clicked{background-color: #718D8F;}