@import url("import_pagination_digg.css");

.showborder{border: 1px solid black;}
div .red{border-color: red;}
div .yellow{border-color: yellow;}
div .green{border-color: green;}
div .blue{border-color: blue;}

.lt_container{margin: 0 auto; width: 1345px;}
a:link{color: black;}
a:visited{color: black;}
a:hover{color: black;}
a:active{color: black;}
a.no_underline:link{text-decoration: none;}
a.no_underline:visited{text-decoration: none;}
a.no_underline:hover{text-decoration: none;}
a.no_underline:active{text-decoration: none;}