@import url("public.css");
@import url("topnav.css");
@import url("logoline.css");
@import url("classification.css");

.search_left{float: left; padding-left:30px; width: 240px;}
.search_right{float: left; margin-left: 60px; width: 950px;}

.search_recommend{margin-top: 900px; width: 100%;}
.recommend_title{width: 230px; height: 50px; background-color: #556589;}
.recommend_title .title{width: 230px; height: 50px; text-align: center; line-height: 50px; font-size: 25px; color: white; }

.book_recommend{margin-left: 0px; margin-bottom: 10px;margin-top: 10px; width: 230px; height: 350px; border-bottom: #EEEEEE 1px dotted; border-left: #EEEEEE 1px solid; border-right: #EEEEEE 1px solid;}
.book_recommend img{margin-left: 20px; margin-top: 10px; width: 190px; height: 210px;}
.book_recommend p{margin-top:10px;padding-left: 20px; padding-right: 20px; text-align: center;}
.book_recommend a{width:230px;font-size: 18px; text-align: center; color: black;}  
.book_recommend a:hover{text-decoration: none;color: #CCCCCC}
.book_recommend font{font-size: 18px; color: red;text-align: center;}



.result_filter{width: 100%; height: 220px;}
.result_sort{width: 100%; height: 50px;}
.search_right .book_list{width: 100%;}


.result_filter .checkbox_filter{margin-left: 50px;}
.result_filter .first_line{border-top: solid 1px #DDDDDD;}
.result_filter .filter_border{border-left: solid 1px #DDDDDD; border-right: solid 1px #DDDDDD; border-bottom: solid 1px #DDDDDD;}


.filter_line{height: 50px; line-height: 30px;}
.filter_line li{list-style: none; float: left; min-width: 50px;}
.filter_line span{text-align: center;margin-top:10px;margin-left:10px; display: inline-block; font-size: 15px;}
.filter_line span.title{width: 100px;}
#search_type{color:#556589; font-family: 幼圆; font-weight: bold;}
#book_num{margin-left:650px;float: right; margin-right: 10px;}

.result_sort .btn_sort{margin-top:80px;width: 80px; height: 40px; font-size: 25px; line-height: 40px; text-align: center;}
.result_sort .available_only{float: right; margin-top: 10px; margin-right: 10px;}

.book_list{width: 100%; height: 1850px; background-color: #f0f0f0; border: 1px solid #DDDDDD; padding: 20px;}
.book_list .book{float: left; margin-left: 0px; margin-top: 10px; width: 170px; height: 350px; text-align: center;}
.book p{line-height:23px;font-size: 14px; text-align: center;}
.book font{color: red;}
.book .level{padding-top: -5px;}
img.star{margin-top: -15px; width: 165px; height: 40px;}
img.cover{margin-left: 0px; width: 180px; height: 240px;}

.book_list .not_first{margin-left: 75px;}
.book a{color: black}
.book a:hover{color:#CCCCCC;text-decoration: none;}

.page{margin-top: 50px;}