a{cursor: pointer;}

div.topnav{margin-left: -15px; width: 100%+30px; height:50px; line-height: 50px; background-color: gray;}
.topnav-text{}
.topnav-left{float: left; margin-left: 50px;}
.topnav-right{float: right; margin-right: 50px;}
.topnav a{color: white; font-family: 'Lithos Pro'}
.topnav a:link {color: white} /* 未访问的链接 */
.topnav a:visited {color: white} /* 已访问的链接 */
.topnav a:hover {color: #DDDDDD; text-decoration: none;} /* 当有鼠标悬停在链接上 */
.topnav a:active {color: #DDDDDD} /* 被选择的链接 */
.topnav .title{font-size: 30px; color: white;font-family:'Lithos Pro';}

.logout{}