.ww-light {
	overflow:hidden;
}
.ww-block {
	display:block;
	margin-top:3px;
}
.ww-inline {
	display:inline-block;
	vertical-align:text-bottom;
}
.ww-light a {
	background-image: url("//img.alicdn.com/tps/i1/T15AD7FFFaXXbJnvQ_-130-60.gif");
	background-image: -webkit-image-set(url("//img.alicdn.com/tps/i1/T15AD7FFFaXXbJnvQ_-130-60.gif") 1x,url("//img.alicdn.com/tps/i4/T1Rsz7FPJaXXbZhKn7-520-240.gif") 4x);
	background-image: -moz-image-set(url("//img.alicdn.com/tps/i1/T15AD7FFFaXXbJnvQ_-130-60.gif") 1x,url("//img.alicdn.com/tps/i4/T1Rsz7FPJaXXbZhKn7-520-240.gif") 4x);
	background-image: -o-image-set(url("//img.alicdn.com/tps/i1/T15AD7FFFaXXbJnvQ_-130-60.gif") 1x,url("//img.alicdn.com/tps/i4/T1Rsz7FPJaXXbZhKn7-520-240.gif") 4x);
	background-image: -ms-image-set(url("//img.alicdn.com/tps/i1/T15AD7FFFaXXbJnvQ_-130-60.gif") 1x,url("//img.alicdn.com/tps/i4/T1Rsz7FPJaXXbZhKn7-520-240.gif") 4x);
	text-decoration:none!important;
	width:20px;
	height:20px;
	zoom:1;
}
.ww-large a {
	width:67px;
}
a.ww-offline {
	background-position:0 -20px;
}
a.ww-mobile {
	background-position:0 -40px;
}
.ww-small .ww-online {
	background-position:-80px 0;
}
.ww-small .ww-offline {
	background-position:-80px -20px;
}
.ww-small .ww-mobile {
	background-position:-80px -40px;
}
.ww-static .ww-online {
	background-position:-110px 0;
}
.ww-static .ww-offline {
	background-position:-110px -20px;
}
.ww-static .ww-mobile {
	background-position:-110px -40px;
}
.ww-light a span {
	display:none;
}
