#mallSearch label {
	visibility:hidden;
}
.product .productPrice .proPrice_zk {
	height:20px!important;
}
.product .productStatus span {
	white-space:nowrap;
}
i.f-ico-triangle-mb {
	border-top: 4px solid #806F66;
	border-width: 3px\9; /* IE8~9 */
	*border-width: 3px;
	right:6px\9;
	*right:6px;
	top: 12px;
}
.minisite.mv6 {
	margin-bottom:10px
}
.minisite.mv6 .m-story {
	margin-top:12px;
	padding:0;
	height:auto;
	max-height: 38px;
	_height: expression(function(el) {
		if(/msie 6/i.test(navigator.userAgent))el.style.height = (el.scrollHeight > 38) ? '38px' : 'auto';
	}
	(this));
}
.minisite.mv6 .m-brand .mb-logo span {
	font-size: 14px;
	display: inline-block;
	line-height: 20px;
	overflow: hidden;
	color: #000;
	word-break: break-all;
	max-height: 36px;
	_height: expression(function(el) {
		if(/msie 6/i.test(navigator.userAgent))el.style.height = (el.scrollHeight > 36) ? '36px' : 'auto';
	}
	(this));
}
.crumb {
	padding-bottom:8px;
	margin-bottom:0;
}
#mallNav {
	margin-bottom:0
}
.productImg {
	_height:100%!important;
}
.bts-70 .miniAttrs .forMultiple {
	background: #F3F3F3;
}
.navAttrsForm {
	*z-index:11
}
