  .tmall-new-desc { background: url(//img.alicdn.com/tps/i1/TB1MBldHFXXXXXIXVXXa1oE4VXX-120-180.jpg) 0 11px no-repeat; width: auto; padding: 0px 0 0 170px; margin: auto; height: 190px; }

    #tmall-desc dl { width: 150px; }

    #tmall-desc dl a { width: 120px; }